/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: $special_dark-grey;
}

img {
  max-width: 100%;
  height: auto;
}
