/* здесь используйте глобальные переменные */
$special_dark-grey: #444444;
$dark-grey: #111111;
$black-grey: #222222;
$basic-grey: #f2f2f2;
$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;
