/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/common.scss";


/* BLOCKS */
@import "./blocks/visually-hidden.scss";
@import "./blocks/header.scss";
@import "./blocks/page.scss";
@import "./blocks/page-header.scss";
@import "./blocks/logo.scss";
@import "./blocks/site-menu.scss";
@import "./blocks/page-main.scss";
@import "./blocks/promo.scss";
@import "./blocks/button.scss";
@import "./blocks/catalogs.scss";
@import "./blocks/functional.scss";
@import "./blocks/example.scss";
@import "./blocks/switcher.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/contacts.scss";
@import "./blocks/social.scss";
@import "./blocks/academy.scss";
@import "./blocks/page-catalog.scss";
@import "./blocks/products.scss";
@import "./blocks/card.scss";
@import "./blocks/add-products.scss";
@import "./blocks/card-row.scss";
@import "./blocks/bonus.scss";
@import "./blocks/subscribe.scss";
