.card-row {
  font-family: "Osawald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $black-grey;
  text-transform: uppercase;
}

.card-row__list {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
}
