.contacts__address {
  font-style: normal;
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $dark-grey;
}

.contacts__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
}
