.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.example__list {
  text-transform: uppercase;
}

.example__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

.example__term {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
}

.example__description {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}

.example__finish {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
}
