.functional__list {
  list-style-type: none;
}

.functional__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.functional__item {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}
