.page {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

.page__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.page__divider-item {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}
